// Define variables for your color scheme

// For example:
$light-blue: #308C7B;
$dark-blue: #347367;
$beige: #f2be7e50;
$light-brown: #A65A3F;
$dark-brown: #8C3730;
$red: hsla(1, 85%, 65%, 0.25);
$yellow: #FBF2D2;
