// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$light-blue: #308C7B;
$dark-blue: #347367;
$beige: #f2be7e50;
$light-brown: #A65A3F;
$dark-brown: #8C3730;
$red: hsla(1, 85%, 65%, 0.25);
$yellow: #fbf2d250;
$pink: #f25e5c25;
$light-red: #F25F5C;
$yellow: #FBF2D2;
$orange: #F4D35E;

.light-blue {
  color: $light-blue;
}

.dark-blue {
  color: $dark-blue;
}

.light-red {
  color: $light-red;
}
