.title-button {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.my-games {
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  visibility: hidden;
  h3 {
    margin-left: 15px;
  }
}

.hot-games {
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  visibility: hidden;
  h3 {
    margin-left: 15px;
  }
}

.suggested-games {
  animation: 1.2s fadeIn;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
  visibility: hidden;
}

.suggested {
  border: 2px solid $light-red;
  h3 {
    margin-left: 15px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1 !important;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.title-box {
  display: flex;
  justify-content: space-between;
}

// body {
//   position: relative;
//   top: 58px;
// }
