<div class="container mt-5 text-center">
  <%= image_tag asset_path("login_logo.png"), style: "height: 250px;width:auto;", class:"login-image" %>
  <h2 class="text-center m-5">Welcome</h2>
  <div class="btn user-btn mt-5">Start</div>
</div>
