<div class="container mt-5 text-center">
  <%= image_tag asset_path("login_logo.png"), style: "height: 300px;width:auto;", class:"login-image" %>
  <h4 class="text-center tagline">let the fun begin</h4>
  <% if user_signed_in? %>
    <a href="/party_sessions" class="btn login-btn  mt-5" style="font-family: 'VT323', sans-serif">START</a>
  <% else %>
    <a href="/users/sign_in" class="btn login-btn user-btn mt-5" style="font-family: 'VT323', sans-serif">START</a>
  <% end %>
</div>
