<div class="container">
  <h1>Games Index</h1>
  <br>
  <% @games.each do |game| %>
    <ul>
      <li><h3><%= game.title %></h3></li>
      <p><%= game.description %></p>
    </ul>
  <% end %>
</div>
