<div class="container mt-3">
  <h1>Games Index</h1>
  <br>
  <% @games.each do |game| %>
    <div>
      <h3><%= game.title %></h3>
      <p><%= game.description %></p>
    <% end %>
    </div>
</div>
