<div class="container mt-3">
  <h1>Games Index</h1>
  <%= link_to "Add New Game", new_game_path, class: "btn btn-success"%>
  <% @games.each do |game| %>
    <div>
      <h3><%= game.title %></h3>
      <%= cl_image_tag @game.photo.key, height: 150, width: 300, crop: fill %>
    <% end %>
    </div>
</div>
