<div class="container">
  <h1 class="text-center mt-2">Add Game</h1>
  <br>
  <div class="search-box">
    <%= render 'search' %>
  </div>
  <br>
  <%= render "form" %>
  <%= link_to "Back", :back, class: "btn m-2"%>
</div>
