<div class="container">
  <h1>Games Show</h1>
  <br>
  <h2><%= @game.title %></h2>
  <div class="game-card">

    <p><%= @game.description %></p>
    <p><%= @game.duration %> min.</p>
    <p><%= @game.suggested_numplayers %> people</p>
  </div>
  </ul>
</div>
