
   .user-btn {
    background: #ffffff25;
    border: 6px solid $dark-blue;
    border-radius: 60px;
    padding: 20px 130px;
    margin: auto;
    color: $light-blue;
  }
  .app-btn {
    background: $dark-blue;
    border-radius: 60px;
    text-align: center;
    padding: 20px 100px;
    margin: auto;
    margin-left: 15px;
    color: white;
  }

  .form-actions{
    text-align: center;
  }

  .create {
    border: 3px solid $dark-blue;
    color: $yellow;
  }
