.user-btn, .login-btn, .app-party-btn {
  background: #308c7ba8;
  border: 6px solid #ffffff;
  border-radius: 60px;
  padding: 9px 98px;
  margin: auto;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.app-party-btn{
  display: block;
  margin-bottom: 2rem;
}

.app-party-btn-small{
  background: $dark-blue;
  border-radius: 8px;
  padding: 8px 16px;
  margin: auto;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.edit-btn {
  background: #ffffff25;
  border: 6px solid $yellow;
  border-radius: 60px;
  padding: 20px 130px;
  margin: auto;
  color: $yellow;
  font-size: 32px;
  font-weight: bold;
}

.app-btn {
  background: $dark-blue;
  border-radius: 60px;
  text-align: center;
  padding: 20px 130px;
  margin: auto auto auto 25px;
  color: $yellow;
  font-size: 32px;
  font-weight: bold;
}

.user-btn {
  background-color: #819b96a8;
}

.form-actions{
  text-align: center;
}

.create {
  border: 3px solid $dark-blue;
  color: $yellow;
}

.party-action-button i{
  font-size: 35px;
  padding: 0;
  height: 60px;
  text-align: center;
  width: 60px;
  border-radius: 50%;
  border: 2px solid #faf2d1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.party-action-button.text-success i {
  background-color: $light-blue;
}

.party-action-button.text-red i{
  background-color: #7a312b;
}

.party-second-button  {
  border-radius: 5px;
  padding: 0.5rem;
}

.party-second-button.text-success {
  background-color: $yellow;
}

.party-second-button.text-red {
  background-color: $yellow;
}
