
  .games-list {
    overflow: auto;
    white-space: nowrap;
  }

  .game {
    display: inline-block;
  }

  .games-img {
    border-top: 5px solid #8C3730;
    border-bottom: 5px solid #8C3730;
    border-radius: 10px;
    margin: 4px;
    height: 175px;
    width: 97px;
  }


  .searchable-game-img {
    border-top: 5px solid #8C3730;
    border-bottom: 5px solid #8C3730;
    border-radius: 10px;
    margin: 4px;
    height: 300px;
    width: 29px;
  }
