
.games-list {
  overflow: auto;
  white-space: nowrap;
}

.game {
  display: inline-block;
  transition: all .2s ease-in-out;
}

.game:hover {
  transform: scale(1.05);
}

.games-img {
  // border-top: 5px solid #F2605C;
  // border-bottom: 5px solid #F2605C;
  border: 2px solid $light-blue;
  border-radius: 10px;
  margin: 4px;
  background-color: white;
  height: 175px;
  width: auto;
  object-fit: contain;
  min-width: 150px;
    .suggested {
      border: 1px solid $light-red;
    }
}


.searchable-game-img {
  border-top: 5px solid rgba(242, 95, 92, 0.7);
  border-bottom: 5px solid rgba(242, 95, 92, 0.7);
  border-radius: 10px;
  margin-left: 24px;
  height: 250px;
  width: 175px;
}
