
.games-list {
  overflow: auto;
  white-space: nowrap;
}

.game {
  display: inline-block;
}

.games-img {
  border-top: 5px solid #F2605C;
  border-bottom: 5px solid #F2605C;
  border-radius: 10px;
  margin: 4px;
  background-color: white;
  height: 175px;
  width: auto;
  object-fit: contain;
  min-width: 150px;
}


.searchable-game-img {
  border-top: 5px solid #F2605C;
  border-bottom: 5px solid #F2605C;
  border-radius: 10px;
  margin-left: 24px;
  height: 250px;
  width: 175px;
}
