.navbar {
  position: fixed;
  width: 100vw;
  top: 0;
  justify-content: space-between;
  z-index: 2;
  display: block;
  padding: 0;
}

.navbar-color {
  background-color: $light-blue;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
  align-items: baseline;
}

.navbar-toggler {
  border: none;
  .navbar-toggler-icon {
    color: $yellow;
    background-image: none;
    padding: 0;
    font-size: 30px;
    vertical-align: sub;
    width: fit-content;
  }
}

.navbar .collapsed-items {
  background: linear-gradient(0deg, rgba(48, 140, 123, 0.75), rgba(48, 140, 123, 0.75)), url(/assets/main-dashboard-20ca86c05bda1cf2434ddbf545e2e91753356e77bbedc739e5583cc393ebf50f.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

.nav-link {
  color: $yellow !important;
  font-family: "VT323";
  font-size: 30px;
}
