.select2-container--default .select2-selection--single {
  width: 250px;
  background-color: rgba(242,106,93,0.3) !important;
}

.select2-container--open .select2-dropdown--above {
  width: 250px !important;
}

.select2-container--open .select2-dropdown--below {
  width: 250px !important;
}

// .search-bar {
//   width: 350px;
// }

// .selection {
//   width: 350px;
// }
