.login-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.link-to {
  color: black;
}

input:not(:empty) {
  color: red;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
}

.danger {
  color: red;
}

.sessions {
  color: $light-blue;
}
.sessions-past {
  color: $dark-brown;
}

.p-header{
  font-size: 24px;
  color: black;
}
.p-header:hover {
  text-decoration: none;
  color: $light-blue;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

.invalid-feedback {
    color: $dark-blue;
    margin-left: 2.4rem;
}

.form-control.is-invalid {
    border-color: $dark-blue;
}

// h2, h3 {
//   color: $light-blue;
// }

h1 {
  color: $light-red !important;
}

.party-title {
  color: $dark-blue;
}

.party-sessions{
  height: 150px;
  overflow: scroll;
}
